html._modal {
    overflow: hidden;
  }
  
  .hide {
    display: none !important;
  }
  
  .content_inner {
    background-image: url(../img/background-content.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content_inner-s {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  



  .content_column-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 65px;
    position: relative;
  }
  
  .content_column-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 75px;
    margin-left: 87px;
  }
  
  .content_column-three {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
    margin-left: 44px;
  }
  
  .content_column-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #535353;
    width: 596px;
    margin-bottom: 42px;
  }
  
  .content_column-title-two {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #535353;
    width: 443px;
    margin-bottom: 42px;
  }
  
  .content_column-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    width: 429px;
    color: #53535399;
  }
  
  .content_column-link {
    color: #0074df;
  }
  
  .content_column-link:hover {
    color: #ff703e;
    text-decoration: underline;
  }
  
  .content_column-link-two {
    color: #0074df;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 16px;
  }
  
  .content_column-link-two:hover {
    color: #ff703e;
    text-decoration: underline;
  }
  
  /* -------------------------------- */
  
  .container_content--two {
    margin-top: 75px;
    margin-bottom: 86px;
    background-color: #0d0d0d;
  }
  
  .content_two-column-one {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  
  .content_two-column-two {
    display: flex;
    justify-content: space-evenly;
  }
  
  .container_content--two-name {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: calc(38px + (7 + 7 * 0.7) * ((100vw - 800px) / 1630));
    line-height: 47px;
    color: #535353;
    margin-bottom: 45px;
  }
  
  .container_content--2-name {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 45px;
    line-height: 47px;
    color: #e5e5e5;
    margin-bottom: 45px;
  }
  
  .left-text--img {
    margin-right: 14px;
  }
  
  .column--one-left {
    display: flex;
    align-items: flex-start;
  }
  
  .column--one-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #ff703e;
    width: 564px;
    margin-bottom: 42px;
    margin-top: 45px;
    text-align: left;
  }
  
  .column--one-left-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #b3b3b3;
    width: 510px;
    margin-bottom: 33px;
  }
  
  .content_two--btn {
    border: 1px solid #ff703e;
    background: #ff703e;
    border-radius: 5px;
    width: 314px;
    height: 56px;
    color: #fff;
    font-weight: 400;
    font-size: 26px;
    margin-top: 15px;
    transition: all 0.6s;
  }
  
  .content_two--btn:hover {
    transform: scale(1.1);
  }
  
  /* -------------------------------- */
  
  .container_content--three {
    margin-top: 400px;
    background-color: #f0f0f0;
  }
  
  .container_content-name {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 75px;
  }
  
  .container_content-name--orange {
    font-weight: 700;
    font-size: 45px;
    line-height: 47px;
    color: #ff703e;
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .container_content-name-gray {
    font-weight: 500;
    font-size: 45px;
    line-height: 47px;
    color: #535353;
  }
  
  .container_content-span {
    font-weight: 500;
    font-size: 15px;
    line-height: 47px;
    color: #535353;
  }
  
  .column_three {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 132px;
  }
  
  .content_three-img {
    margin-top: 27px;
  }
  
  .content_three-column-title-two {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #535353;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 4px;
  }
  
  .content_three-column-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    color: #535353;
    margin-top: 27px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .content_three-column-text-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
    text-align: center;
    width: 305px;
  }
  
  .content_three-column-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
    text-align: center;
  }
  
  .content_three-column-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
  
  .content_three-column-one {
    width: 360px;
    height: 335px;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    transition: all 0.6s;
  }
  
  .content_three-column-two {
    width: 360px;
    height: 335px;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    transition: all 0.6s;
  }
  
  .content_three-column-three {
    width: 360px;
    height: 335px;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    transition: all 0.6s;
  }
  
  /* --------------------------------------- */
  
  .container_content--four {
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .container_content--four::after,
  .container_content--four::before {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .container_content--four::after {
    box-shadow: 0px 20px 20px 20px white;
    right: 0;
  }
  .container_content--four::before {
    box-shadow: 20px 0px 20px 20px white;
    left: 0;
  }
  .content_column-five {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  
  .content_column-top {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container_content--five {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(243, 243, 246);
    margin-top: 60px;
  }
  
  .content_column-five-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #535353;
    width: 683px;
    margin-bottom: 15px;
  }
  
  .content_column-five-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    width: 783px;
    color: #535353;
  }
  
  .column-five-left-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    color: #535353;
    margin-top: 27px;
    margin-bottom: 12px;
    width: 294px;
  }
  
  .column-five-left-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
    width: 290px;
  }
  
  .column-five {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .column-five-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .column-five-right {
    display: flex;
  }
  
  .column-five-left--one {
    margin-right: 20px;
  }
  
  .container_content--four-name {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 86px;
  }
  
  .column_four-wrapper {
    /* display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 3em;
      justify-items: center;
      align-items: center; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* margin-top: 68px; */
    overflow: hidden;
  }
  .column_four-wrapper-1 {
    /* display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 3em;
      justify-items: center;
      align-items: center; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 68px;
    overflow: hidden;
  }
  
  .column_four-up-1 {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: column;
    transition: all 0.4s;
    animation-name: money-repeat-1;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  .column_four-down-1 {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: column;
    grid-gap: 200px;
    animation-name: money-repeat-2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  .column_four-up {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: column;
    grid-gap: 20px;
    transition: all 0.4s;
    animation-name: money-repeat-one;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  .column_four-down {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: column;
    grid-gap: 20px;
    animation-name: money-repeat-two;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  .column_four-up-one {
    display: flex;
    align-items: center;
  
    position: relative;
  }
  
  .column_four-up-two {
    display: flex;
    align-items: center;
  
    position: relative;
  }
  
  .column_four-gradient-left {
    background: linear-gradient(-90deg, rgb(255 255 255 / 0%) 42.34%, #fefeff 99.02%) !important;
    position: absolute;
    inset: 0;
    z-index: 2;
    height: 55px;
    width: 114px;
    top: 80px;
  }
  
  .column_four-gradient-right {
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 42.34%, #fefeff 99.02%) !important;
    position: absolute;
    z-index: 2;
    right: 0;
    height: 55px;
    width: 114px;
    top: 80px;
  }
  .column_four-gradient-left-1 {
    background: linear-gradient(-90deg, rgb(255 255 255 / 0%) 42.34%, #fefeff 99.02%) !important;
    position: absolute;
    inset: 0;
    z-index: 2;
    height: 55px;
    width: 114px;
    top: 20px;
  }
  
  .column_four-gradient-right-2 {
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 42.34%, #fefeff 99.02%) !important;
    position: absolute;
    z-index: 2;
    right: 0;
    height: 55px;
    width: 114px;
    top: 20px;
  }
  
  .column_four {
    width: 100%;
    border-radius: 20px;
    /* border: 1px solid transparent;
      box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.25); */
    overflow: hidden;
  }
  
  .column_four-intgrations {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    transition: all 0.6s;
  }
  
  .column_four-intgrations:hover {
    background-color: #f2fffa;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.6s;
  }
  
  .column_four-img {
    cursor: pointer;
    width: 150px;
  }
  
  .column_four-img:hover {
    background-color: transparent;
  }
  
  .column_four-btn {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 46px;
  }
  
  .column_four--btn {
    border: 1px solid #ff703e;
    background: #ff703e;
    border-radius: 5px;
    width: 314px;
    height: 56px;
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    overflow: hidden;
    position: relative;
  }
  
  .column_four--btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 0.8em;
    height: 100%;
    background-color: #ffffff6e;
    transform: translateX(-4em) skewX(-45deg);
  }
  
  .column_four--btn:hover::before {
    animation: move-light 0.45s;
    animation-timing-function: linear;
  }
  
  .content_column-img--active {
    display: block;
  }
  
  .content_column-img--1 {
    display: block;
  }
  
  .content_column-img--active.content_column-img--1 {
    display: block;
  }
  
  .container_video {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 564px;
    top: 179px;
    left: 143px;
  }
  
  .content_column-video {
    position: relative;
    z-index: 1;
    top: 1px;
    right: 144px;
    width: 898px;
    height: 563px;
  }
  
  .content_column-img--2 {
    display: none;
  }
  
  .content_column-img--active.content_column-img--2 {
    display: block;
    margin-left: 45px;
    padding-right: 45px;
  }
  
  .content_column-img--3 {
    display: none;
  }
  
  .content_column-img--active.content_column-img--3 {
    display: block;
    margin-left: 45px;
    padding-right: 45px;
  }
  
  .content_column-img {
    width: 100%;
    display: none;
  }
  
  .container_content--one {
    padding-top: 90px;
    padding-left: 25px;
    padding-right: 15px;
  }
  
  .container_content--one-name {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #535353;
  }
  
  .two-column--one-right-img {
    min-width: 520px;
    width: 520px;
  }
  
  .two-column--one-left {
    padding-left: 15px;
  }
  
  .two-column--one-right {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding-right: 120px;
  }
  
  .two-column-ability {
    position: absolute;
    top: 0;
    left: 0;
    animation: ghost 5s ease-in-out infinite;
    animation-delay: 2s;
    transform: translateY(0);
  }
  
  .two-column-ability--2 {
    position: absolute;
    top: 0;
    left: 0;
    animation: ghost 5s ease-in-out infinite;
    animation-delay: 1.5s;
    transform: translateY(0);
  }
  
  .two-column-ability--3 {
    position: absolute;
    top: 0;
    left: 0;
    animation: ghost 5s ease-in-out infinite;
    animation-delay: 500ms;
    transform: translateY(0);
  }
  
  .two-column-ability--3::before {
    content: "";
    filter: blur(1px);
    transform: translateY(0) scaleX(1);
    animation: shadow 5s ease-in-out infinite;
  }
  
  .two-column-ability--2::before {
    content: "";
    filter: blur(1px);
    transform: translateY(0) scaleX(1);
    animation: shadow 5s ease-in-out infinite;
  }
  
  .two-column-ability::before {
    content: "";
    filter: blur(1px);
    transform: translateY(0) scaleX(1);
    animation: shadow 5s ease-in-out infinite;
  }
  
  .right-content {
    animation: ghost 5s ease-in-out infinite;
    transform: translateY(0);
  }
  
  .right-content::before {
    content: "";
    filter: blur(1px);
    transform: translateY(0) scaleX(1);
    animation: shadow 5s ease-in-out infinite;
  }
  
  .content_two-btn {
    display: flex;
    justify-content: center;
  }
  
  .two-column--two-left {
    display: flex;
    align-items: center;
  }
  
  .content_three-title {
    font-size: 80px;
    color: #d3dbe9;
    border: 3px solid;
    border-radius: 50%;
    margin-top: 25px;
  }
  
  .content_three-title:hover {
    color: #ff703e;
    transition: 0.6s;
  }
  
  .content_column-number-active {
    display: none;
  }
  
  .content_column-number--list {
    position: relative;
  }
  
  .content_six-line {
    position: absolute;
    left: 23px;
    top: -58px;
    right: auto;
    bottom: auto;
    height: 230px;
    margin-top: 111px;
    border-right: 2px dashed #dde4e4;
    z-index: -1;
  }
  
  .content_six-line--min {
    height: 140px;
  }
  
  .content_six-line--min-1 {
    height: 195px;
    top: -65px;
  }
  
  .content_column-one-block {
    display: flex;
    align-items: flex-start;
  }
  
  .content_column-one-block-title {
    margin-left: 15px;
    font-size: 24px;
    font-weight: 500;
    color: #809aa3;
  }
  
  .content_column-one-block--active .content_column-one-block-text {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    height: 105px;
  }
  
  .content_column-one-block--active .block-text-1 {
    height: 65px;
  }
  
  .content_column-one-block--active .content_column-one-block-title {
    color: #001a38;
  }
  
  .content_column-one-block--active .content_column-one-title--2 {
    color: #001a38;
  }
  
  .content_column-one-block--active .content_column-one-title--3 {
    color: #001a38;
  }
  
  .content_column-one-block-text {
    text-align: left;
    width: 100%;
    max-width: 435px;
    color: #203855;
    height: 0px;
    overflow: hidden;
    line-height: 32.4px;
    font-size: 18px;
    font-weight: 400;
    transition: all 1.2s;
  }
  
  .content_column-one-block--active .content_column-number {
    display: none;
  }
  
  .content_column-one-block--active .content_column-number-active {
    display: block;
  }
  
  .content_column-one-block-child--2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .content_column-one-block--active.content_column-one-block-child--2 {
    padding-top: 25px;
  }
  
  .content_three-column-one:hover {
    transform: scale(1.04);
  }
  
  .content_three-column-two:hover {
    transform: scale(1.04);
  }
  
  .content_three-column-three:hover {
    transform: scale(1.04);
  }
  
  .content_column-one-right {
    margin-top: 35px;
  }
  
  .container_content--six {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 182px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .container_content--6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* padding-bottom: 182px; */
    padding-left: 35px;
    padding-right: 15px;
    padding-top: calc(0px + (50 - 50) * ((100vw - 800px) / (1630 - 800)));
    margin-top: 50px;
  }
  .container_content--6-s {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    /* padding-bottom: 182px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: calc(0px + (50 - 50) * ((100vw - 800px) / (1630 - 800)));
    margin-top: 50px;
  }
  
  .notebook-img {
    width: 100%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  
  .notebook-img-mini {
    display: none;
  }
  
  .container_content--two-notebook {
    text-align: center;
  }
  
  .container_content-two-content {
    max-width: 320px;
    position: relative;
    padding-bottom: 326px;
    margin: 0 auto 120px;
    max-width: 1100px;
  }
  
  .line-board {
    top: 0;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 10;
  }
  
  .line-board-mini {
    display: none;
  }
  
  .content-one-section {
    position: absolute;
    padding-left: 95px;
    padding-right: 10px;
  }
  
  .one-section--title {
    font-size: 46px;
    font-weight: 600;
    line-height: 1.1;
    color: #00bfa5;
    margin-bottom: 25px;
    text-align: left;
  }
  
  .one-section--text {
    font-size: 18px;
    letter-spacing: 0.25px;
    line-height: 1.54;
    color: #666;
    text-align: right;
    max-width: 545px;
  }
  
  .contanet_content-two-wrapper {
    position: relative;
    height: 800px;
    max-width: 1100px;
  }
  
  .content-two-section {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    bottom: 260px;
    right: 125px;
  }
  
  .two-section--title {
    font-size: 46px;
    font-weight: 600;
    line-height: 1.1;
    color: #00bfa5;
    margin-bottom: 25px;
    text-align: right;
  }
  
  .two-section--text {
    font-size: 18px;
    letter-spacing: 0.25px;
    line-height: 1.54;
    color: #666;
    text-align: right;
    max-width: 545px;
  }
  
  .three-section {
    position: absolute;
    padding-left: 180px;
    padding-right: 10px;
    left: calc(46vw - 160px);
    top: 216px;
  }
  
  .content-three-section {
    padding-left: 100vw;
    height: 611px;
    background-color: #ffe75b;
    margin-left: calc(-50vw + 160px);
    padding-right: 100vw;
    position: absolute;
  }
  
  .three-section--3 {
    position: absolute;
    background-color: #1e1e1e;
    left: 5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    width: 72px;
    height: 72px;
    left: 40px;
    top: 985px;
    z-index: 1;
  }
  
  .three-section--title {
    font-size: 46px;
    line-height: 1.1;
    margin-bottom: 24px;
    font-weight: 600;
    color: #1e1e1e;
  }
  
  .three-section--text {
    font-size: 18px;
    line-height: 1.67;
    max-width: 545px;
    margin-bottom: 44px;
    color: #666;
    text-align: left;
    letter-spacing: 0.25px;
  }
  
  .three-section--board {
    position: relative;
    top: -170px;
    right: -510px;
  }
  
  .two-section--img-mini {
    display: none;
  }
  
  .four-section-img-mini {
    display: none;
  }
  
  .right-content {
    animation: ghost 5s ease-in-out infinite;
    transform: translateY(0);
  }
  
  .right-content::before {
    content: "";
    filter: blur(1px);
    transform: translateY(0) scaleX(1);
    animation: shadow 5s ease-in-out infinite;
  }
  
  @keyframes ghost {
    50% {
      transform: translateY(-20px);
    }
  }
  
  .content-four-section {
    position: relative;
    padding-left: 180px;
    padding-right: 10px;
    bottom: 20px;
    left: -80px;
    top: 725px;
    margin-bottom: 200px;
  }
  
  .four-section--title {
    font-size: 46px;
    line-height: 1.1;
    margin-bottom: 24px;
    font-weight: 600;
    color: #00bfa5;
  }
  
  .four-section--text {
    font-size: 18px;
    line-height: 1.67;
    max-width: 545px;
    margin-bottom: 44px;
    color: #666;
    text-align: left;
    letter-spacing: 0.25px;
  }
  
  .content_column-one-left {
    margin-right: 15px;
  }
  
  .container_steps-gs {
    /* margin-top: 60px; */
    margin-bottom: 0px;
    /* padding: 0px 0px 148px 0px; */
    /* position: relative; */
    top: -45px;
  }
  
  .container_steps-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    width: calc(540px + (1440 - 900) * ((100vw - 800px) / (1630 - 800)));
    margin-right: auto;
    margin-left: auto;
  }
  
  .gs-title {
    font-size: 21px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    letter-spacing: 0px;
    color: #3c3c3c;
    margin-bottom: 15px;
  }
  
  .gs-text {
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    max-width: 273px !important;
    color: #3c3c3c;
  }
  
  .content_gs-text {
    margin: 55px 0px 0px 11px;
  }
  
  .content_gs-img {
    margin: 77px 0px 0px 0px;
  }
  
  .seo_snippet {
    display: none;
  }
  
  .ball_ghost-1 {
    position: absolute;
    top: 235px;
    right: 70px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 1.5s;
    transform: translateY(0);
  }
  .ball_ghost-2 {
    position: absolute;
    top: 191px;
    right: 75px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 1s;
    transform: translateY(0);
  }
  .ball_ghost-3 {
    position: absolute;
    top: 144px;
    right: 6px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 0.5s;
    transform: translateY(0);
  }
  .ball_ghost2-1 {
    position: absolute;
    top: 223px;
    right: 46px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 1.5s;
    transform: translateY(0);
  }
  .ball_ghost2-2 {
    position: absolute;
    top: 138px;
    right: 123px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 1s;
    transform: translateY(0);
  }
  .ball_ghost2-3 {
    position: absolute;
    top: 56px;
    right: 57px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 0.5s;
    transform: translateY(0);
  }
  .ball_ghost3-1 {
    position: absolute;
    top: 95px;
    right: 105px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 1.5s;
    transform: translateY(0);
  }
  .ball_ghost3-2 {
    position: absolute;
    top: 449px;
    right: 139px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 1s;
    transform: translateY(0);
  }
  .ball_ghost3-3 {
    position: absolute;
    top: 56px;
    right: 57px;
    animation: ghost 8s ease-in-out infinite;
    animation-delay: 0.5s;
    transform: translateY(0);
  }
  
  .line_step {
    width: 28%;
    height: 100%;
    position: absolute;
    top: -80px;
    right: 16px;
  }
  .line_step-1 {
    width: 53%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 12px;
  }
  .line_step2 {
    width: 34%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 50px;
  }
  .line_step2-1 {
    width: 34%;
    height: 100%;
    position: absolute;
    top: 165px;
    right: 62px;
  }
  .line_step3 {
    width: 28%;
    height: 100%;
    position: absolute;
    top: -72px;
    right: 4px;
  }
  .line_step3-1 {
    width: 28%;
    height: 100%;
    position: absolute;
    top: 1px;
    right: 17px;
  }
  
  .container_content-9 {
    padding-right: 15px;
  }
  
  .container_9-btn {
    border: 1px solid #ff703e;
    background: #ff703e;
    border-radius: 5px;
    width: calc(240px + (314 - 240) * ((100vw - 800px) / (1630 - 800)));
    height: calc(46px + (10 + 10 * 0.7) * ((100vw - 800px) / 1630));
    color: #fff;
    font-weight: 400;
    font-size: calc(18px + (9 + 9 * 0.7) * ((100vw - 800px) / 1630));
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    min-width: 240px;
  }
  
  .container_9-btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 0.8em;
    height: 100%;
    background-color: #ffffff6e;
    transform: translateX(-4em) skewX(-45deg);
  }
  
  .container_9-btn:hover::before {
    animation: move-light 0.45s;
    animation-timing-function: linear;
  }
  
  .container_content-inner-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .container_content-bottom {
    position: relative;
    top: -133px;
    left: 0;
    height: 0px;
  }
  
  .container_9-img {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .container_content--9 {
    padding-top: 130px;
  }
  
  .modal-login__wrapper {
    margin-top: 134px;
    max-width: 660px;
    padding-left: 95px;
    padding-right: 95px;
  }
  
  .modal-login__top {
    margin-bottom: 55px;
    margin-top: 60px;
  }
  
  .modal-login__inner-top {
    margin-bottom: 25px;
  }
  
  .modal-login__text-email,
  .modal-login__text-password {
    margin-bottom: 8px;
  }
  
  .modal-login__input-email {
    margin-bottom: 20px;
  }
  
  .modal-login__label-email {
    display: block;
  }
  
  .modal-login__label-password {
    display: block;
    position: relative;
  }
  
  .modal-login__show-password {
    position: absolute;
    width: 24px;
    height: 20px;
    right: 15px;
    top: 35px;
  }
  
  .modal-login__label-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    cursor: pointer;
  }
  
  .modal-login__checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid #a5a5a5;
    background-color: #fff;
    margin-right: 15px;
  }
  
  .modal-login__checkbox::after {
    content: url("../img/global/checked.svg");
  }
  
  .modal-login__checkbox-input:checked + .modal-login__checkbox::after {
    display: block;
  }
  
  .modal-login__submit {
    background-color: #ff703e;
    color: white;
    font-size: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 33px;
    margin-bottom: 18px;
  }
  
  .modal-login__bottom {
    margin-bottom: 45px;
  }
  
  .modal-login__inner-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .modal-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.34);
  }
  
  .no-webp .modal-form__wrapper {
    background-image: url("../img/global/modal-bg.png");
  }
  
  .modal-form__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .modal-form__top {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 60px;
    color: #535353;
  }
  
  .modal-form__content {
    width: 100%;
  }
  
  .modal-form__label-text {
    color: #a5a5a5;
    font-size: 16px;
  }
  
  .modal-form__input {
    height: 40px;
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding-left: 5px;
  }
  
  .modal-form__checkbox-input {
    display: none;
  }
  
  .modal-form__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .modal-form__checkbox::after {
    display: none;
  }
  
  .modal-form__link {
    color: #0074df;
    text-decoration: underline;
    font: inherit;
    font-size: 16px;
    background-color: transparent;
  }
  
  .modal-form__submit {
    border-radius: 5px;
    width: 100%;
  }
  
  .modal-reg__wrapper {
    margin-top: 140px;
    max-width: 660px;
    padding: 60px 103px 40px 103px;
  }
  
  .modal-reg__top {
    margin-top: 0;
  }
  
  .modal-reg__inner-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .modal-reg__label-name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 25px;
  }
  
  .modal-reg__text-name,
  .modal-reg__text-last-name,
  .modal-reg__text-email,
  .modal-reg__text-password {
    margin-bottom: 8px;
  }
  
  .modal-reg__label-last-name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .modal-reg__inner-bottom {
    margin-bottom: 37px;
  }
  
  .modal-reg__label-email {
    margin-bottom: 10px;
    display: block;
  }
  
  .modal-reg__label-password {
    display: block;
    position: relative;
  }
  
  .modal-reg__show-password {
    position: absolute;
    width: 24px;
    height: 20px;
    right: 15px;
    top: 35px;
  }
  
  .modal-reg__submit {
    background-color: #ff703e;
    color: white;
    font-size: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .modal-reg__bottom {
    margin-top: 36px;
  }
  
  .modal-reg--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .modal-login--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .header__user-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-column: 4;
  }
  
  .header__user {
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .header__user img {
    width: 22px;
    height: 23px;
  }
  
  .header__user-text {
    margin-left: 5px;
    font-weight: 900;
    font-size: 18px;
    color: #86cc46;
  }
  
  .header__user-menu {
    position: relative;
  }
  
  .user-menu {
    position: relative;
    z-index: 1000;
  }
  
  .user-menu--active {
    white-space: normal;
  }
  
  .user-menu--active .user-menu__inner {
    width: 291px;
    height: 366px;
    padding: 15px 10px 24px 17px;
  }
  
  .user-menu__link-icon {
    width: 20px;
    height: 20px;
  }
  
  a.user-menu__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 49px;
    height: 49px;
    background: #27c78d;
    z-index: 1000;
    color: #bcbcbc;
    font-size: 38px;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .user-menu__inner {
    white-space: nowrap;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: -6px;
    right: -6px;
    width: 0px;
    height: 0px;
    -webkit-box-shadow: 0px 27px 54px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 27px 54px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
  }
  
  .user-menu__user-name {
    margin-bottom: 9px;
    font-size: 17px;
    font-weight: 700;
  }
  
  .user-menu__btn-setting {
    font-size: 17px;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: transparent;
    max-width: 191px;
    margin-bottom: 27px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  
  .user-menu__btn-setting img {
    margin-left: 10px;
    width: 12px;
    height: 10px;
    margin-top: 2px;
  }
  
  .user-menu__btn-setting:hover {
    color: #ff703e;
  }
  
  .user-menu__balance-wrapper {
    height: 70px;
    background: #f8f8f8;
    border-radius: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 17px;
    margin-bottom: 30px;
  }
  
  .user-menu__balance-rub {
    min-width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background: #cecece;
  }
  
  .user-menu__balance-rub-img {
    width: 17px;
    height: 21px;
  }
  
  .user-menu__balance-text {
    margin-left: 10px;
    color: #7d7a7a;
    font-size: 15px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .user-menu__add-balance {
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    min-width: 87px;
    height: 30px;
    background: #ff703e;
    border-radius: 3px;
    margin-left: 10px;
  }
  
  .user-menu__link {
    font-size: 17px;
    color: #403c3d;
    -webkit-transition: color 0.3s, fill 0.3s;
    -o-transition: color 0.3s, fill 0.3s;
    transition: color 0.3s, fill 0.3s;
    fill: #6e6e6e;
    font-weight: 300;
  }
  
  .user-menu__link + .user-menu__link {
    margin-top: 23px;
  }
  
  .user-menu__link:hover {
    color: #fe703e;
    fill: #fe703e;
  }
  
  .user-menu__link--exit {
    color: #ff6262;
    fill: #ff6262;
  }
  
  .input--false {
    border-color: #ff703e;
  }
  
  .input--true {
    border-color: #86cc46;
  }
  
  html.log-in .input-div {
    display: none;
  }
  html.log-in .reg-div {
    display: none;
  }
  
  html.log-in .menu-item--1 {
    grid-column: 2;
  }
  html.log-in .menu-item--2 {
    grid-column: 3;
  }
  

/* --------------------integrations------------------- */

.content_integrations{
    padding-top: 100px;
}

.changes_up-left-title{
line-height: 1.2;
font-size: 2.5rem;
font-weight: 500;
text-align: left;
color: #535353;
}

.changes_up-left-text{
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 35px;
    min-width: 422px;
    color: #535353;
}


.changes_up-left-btn{
    border: 1px solid #FF703E;
    background: #FF703E;
    border-radius: 5px;
    width: calc(240px + (314 - 240) * ((100vw - 800px) / (1630 - 800) ));
    height: calc(46px + (10 + 10 * 0.7) * ((100vw - 800px) / 1630 ));
    color: #fff;
    font-weight: 400;
    font-size: calc(18px + (9 + 9 * 0.7) * ((100vw - 800px) / 1630 ));
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    min-width: 240px;
    display: flex;
    justify-content: center;
}

.content_changes-up{
    display: flex;
    align-items: flex-end;
}

.changes_up-left{
    width: 55%;
    padding-right: 50px;
}

.changes_up-right{

}

.changes_up-img img{
    width: 800px;
    padding-left: 15px;
    padding-right: 35px;

}

.content_changes-up--two{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 100px;
}

.content_buttons > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes a1{
    to {
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border:  0;
    }
}

.btn_filter{
    border: 1px solid #FF703E;
    border-radius: 15px;
    width: calc(120px + (170 - 120) * ((100vw - 800px) / (1630 - 800) ));
    height: calc(36px + (8 + 8 * 0.7) * ((100vw - 800px) / 1630 ));
    min-width: 120px;
    min-height: 36px;
    color: #535353;
    transition: all 0.4s;
    margin-right: 80px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.btn_filter:last-child{
    margin-right: 0px; 
}

.btn_filter:hover{ 
    background-color: #FF703E;
    color: #fff;

}

.content-integrations{
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    grid-row-gap: 3em;
    grid-column-gap: calc(65px + (70 + 70 * 0.7) * ((100vw - 800px) / 1630));

}

.content-search{
    margin-top: 25px;
}

.content-search >input{
    width: 40%;
    padding: 10px 50px;
    background: transparent;
    border-bottom: 1px solid #101010;
    font-size: 20px;
    transition: all .2s linear;
}

.content-search > img {
    position: relative;
    width: 25px;
    top: 10px;
    left: 40px;
    right: 0;
}

.logo_integration{
    width: 50%;
    min-width: 44px;
    height: 44px;
}

.integrations-favorite{
    margin-bottom: 70px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.favorites{
    display: flex;
    margin-top: 25px;
}

.favorite-title > h4{
    font-size: 18px;
    color: #535353;
}

.integration{
    width: 100px;
    height: 100px;
    border: 1px solid #dadada;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s;
}

.integration .hide{
    display: none;
}

.integration-f{
    width: 100px;
    height: 100px;
    border: 1px solid #dadada;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s;
    margin-right: calc(65px + (70 + 70 * 0.7) * ((100vw - 800px) / 1630));
}

.integration-f:last-child{
    margin-right: 0px;  
}

.integration-title{
    margin-bottom: 25px;
}

.integration-title >h4{
    font-size: 18px;
    color: #535353;  
}

.integration_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

.integration_inner > h3{
    color: #535353;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.integration_inner > h3:hover{
    color: #FF703E;
}

.integration_inner > p{
    color: #666;
    font-size: 14px;
}

.integration:hover{
    box-shadow: 1px 1px 17px 8px rgb(110 133 155 / 10%);
    border: 1px solid #FF703E; 

}

.integration:hover{
    scale: 1.04;
    transition: 0;
}
.integration-f:hover{
    box-shadow: 1px 1px 17px 8px rgb(110 133 155 / 10%);
    border: 1px solid #FF703E; 

}

.integration-f:hover{
    scale: 1.04;
    transition: 0;
}

  /* ------------test------------- */
  