html{
    overflow-x: hidden;
}

.wrapper{
    padding-left: 15px;
}

.logo-svg{
    border-right: 1px solid rgb(97, 97, 97);
}

.logo{
    display: flex;
    align-items: center;
}

.logo-p{
    display: flex;
    color: #535353;
}

.up_icon{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 35px;
    height: 35px;
    rotate: 180deg;

}

.up_scroll{
    /* border: 1px solid #FF703E;
    border-radius: 50%; */
    position: fixed;
    bottom: 31px;
    right: 33px;
    width: 50px;
    height: 50px;
    /* background-color: #ff713e5b; */
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    z-index: 2;
}

.up_scroll:hover{
/*  */
    transition: 0.5s;
}



/* copy */

<div class="container_content--four">
<div class="wow fadeIn column_four" data-wow-delay="0.5s" animation-timing-function="linear">
    <div class="column_four-gradient-left"></div>
    <div class="column_four-gradient-right"></div>
    <div class="column_four-wrapper-1">
        <div class="column_four-up-1">
            <div class="column_four-up-one">
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/bybit-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/bitget-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/KuCoin-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/kraken-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/logowallet-min.png" alt="">

                </div>

            </div>
            <div class="column_four-up-two">
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/bitfinex-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/binance-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/metamask-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/trezor-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/coinbase-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/logowallethd-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/payeer-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/yb-min.png" alt="">

                </div>
            </div>
        </div>
        <div class="column_four-down-1">
            <div class="up-one-two column_four-up-one">
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/nexo-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/coinspot-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/solana-min.png" alt="">

                </div>

            </div>
            <div class="up-two-two column_four-up-two">
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/nexo-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/coinspot-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/solana-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/trezor-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/ftx-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/ftx-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/ledger-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/gate-min.png" alt="">

                </div>
                <div class="column_four-intgrations">
                    <img class="column_four-img" src="img/mexc-min.png" alt="">

                </div>
            </div>
        </div>
    </div>

</div>
</div>




